html {
  overflow-y: scroll;
}

body {
	/*font-family: 'Josefin sans', sans-serif;*/
	/*font-family: 'Lato', sans-serif;*/
	font-family: 'Droid Sans', sans-serif;
	font-weight: 200;
}


.header-link {
	font-size: 15pt;
	font-weight: 400;
	text-transform: uppercase;
	font-family: 'Josefin sans', sans-serif;
	color: #fff;
}

/* Override bootsrap's issues dropping things to the next line */
.header-container {
	width: 100%;
	margin-left: 10px;

}

#ng-view {
  position:relative;
}

/* Animations */
.slide-animation.ng-enter, .slide-animation.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

  position:absolute;
  top:0;
  left:0;
  right:0;
  min-height:1000px;
}

.slide-animation.ng-enter {
  opacity:0;
  left:0px;
}

.slide-animation.ng-enter.ng-enter-active {
  left:0;
  opacity:1;
}

.slide-animation.ng-leave {
  left:0;
  opacity:1;
}

.slide-animation.ng-leave.ng-leave-active {
  left:0px;
  opacity:0;
}

a:active {
	text-decoration: none;
}

a:link {
	text-decoration: none;
}


a:visited {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: white;
} 

.footer-hr-obj {
	margin: 5px;
	color: green;
}

.header-container{
	margin-left: 0px;
	padding-left: 0px;
}

/* Navbar manual overrides */
.navbar {
	min-height: 50px;
}

.navbar-fixed-top {
	border: 0px;
}


.navbar-right {
	margin-top: 7px;
}

.navbar-inverse {
	background-image: linear-gradient(to bottom,#000,#222 100%);
}

.panel-body {
	box-shadow: 0px 0px 0px #888888;
	transition: box-shadow .2s;

}

.panel-body:hover {
	box-shadow: 0px 0px 3px #000;

}


.subj-title {
	font-family: 'Josefin sans', sans-serif;
	font-weight: 100;
	font-size: 60pt;
	text-transform: lowercase;

}

.subj-subtitle {
	font-weight: 100;
	font-size: 20pt;
	color: #aaa;

}

.title-super {
	font-size: 30pt;
	color: white;
	text-decoration: none;
	text-transform: lowercase;
	font-family: 'Josefin sans', sans-serif;
}

.title-logo {
	margin-right: 20px;
	margin-top: 0px;
	vertical-align: top;
	text-decoration: none;
}


.text-muted{
	color: #BCBBBB;
}

/* Media Queries to adjust header text size */

@media (max-width: 320px) {
	.title-super {
		font-size: 24pt;
		vertical-align: bottom;
	}

	.title-logo {
		vertical-align: top;
	}
}

@media (max-width: 768px) {
	.header-container {
		margin-left: 15px;
	}
}
/*
@media (min-width: 321px ) and (max-width: 355px) {
	.title-super {
		font-size: 20pt;
		vertical-align: bottom;
	}

	.title-logo {
		margin-top: 1px;
		vertical-align: top;
	}
}


@media (min-width: 356px ) and (max-width: 405px) {
	.title-super {
		font-size: 25pt;
		vertical-align: bottom;
	}

	.title-logo {
		margin-top: 1px;
		vertical-align: top;
	}
}

@media (min-width: 801px) and (max-width: 995px) {
	.header-link {
		font-size: 12pt;
	}


}*/
@media (min-width: 768px) and (max-width: 800px) {
	.header-link {
		font-size: 12pt;
	}


}

/*
hr {
	height: 5px;
	background-color: #eeeeee;
	border:5;
}



.text-thin {
	font-weight: 100;
}
*/
