<!-- Empty space to clear the header -->
<br>
<br>
<br>
<br>

<!-- Main content here -->

<!-- Temporary text -->
<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2 class="subj-title">About Me</h2>
                <h3 class="subj-subtitle">Hi, everybody! </h3>

                <p>I’ve spent the past 8 years working in the animation industry where I learned a surprising breadth of skills.  I began as a Technical Director, leveraging my strong background in computer science to maintain a diverse set of departmental tools.  I worked closely with artists to create custom interfaces and scripts in a variety of software packages. </p>

                 <p>From there, I transitioned into a more artistic role as a compositor where I coordinated with many departments to create theater-ready final images.  In this position, I had the opportunity to develop strong problem solving skills in all parts of the animation pipeline.  Our strict schedule paired with the demand for a high quality visual product required a deep knowledge of our toolset and an open mind. </p>

                <p>My responsibilities grew significantly in the past few years as I took over the position of team lead.  I managed a group of 5-15 artists, a compositor, and a technical director on a feature length animated film.  I worked closely with other department supervisors to schedule our workload, gave creative feedback on the artists’ work, and facilitated the technical growth of the members on my team. </p>

                <p>Though I’ve spent a lot of time in the film industry, I am excited to return to my first passion: software development.  I began my career as a user interface developer and found myself enamored with the process.  I loved working closely with clients to understand their needs, then implementing smart solutions to their problems.  I believe that my experience in the animation industry has only strengthened my creativity and appreciation of the power of color, composition, and form across all varieties of media.</p>

                <p>I am confident that I can offer you the technical, leadership, and problem-solving skills you are looking for. Feel free to contact me!  Thanks for your time.</p>

                <p>Sincerely,</p>
                <h3 class=" text-muted">Jason Arold</h3>

            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>

<!-- Footer included on each page to resolve jumpiness with animated transitions-->
<div ng-include='"templates/footer.html"'></div>

<!-- /.section-colored -->

<!-- Loading animation fade in 
  <script> $(document).ready(function (){
    $('.section').css('opacity', '0').fadeTo(500, 1,'swing'); 
    });
  </script> -->