<!-- Empty space to clear the header -->
<br>
<br>
<br>
<br>

<!-- Main content here -->

<!-- Temporary text -->
<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2 class="subj-title">Contact Me</h2>
                <a href="mailto:jason.arold@gmail.com" class="page-link" style="color: #888"><h3 class="subj-subtitle">jason.arold@gmail.com</h3></a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
                <script type="IN/MemberProfile" data-id="https://www.linkedin.com/pub/jason-arold/20/941/93a" data-format="click" data-related="false"></script>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- Footer included on each page to resolve jumpiness with animated transitions-->
<div ng-include='"templates/footer.html"'></div>


