<!-- Empty space to clear the header -->
<br>
<br>
<br>
<br>

<!-- Main content here -->

<!-- Temporary text -->
<div class="sectionr">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2 class="subj-title">Welcome to my site!</h2>
                <p>This page is under construction!  Please check back soon!  I'm updating often...</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-12 text-right">
                <h3 class="subj-title">About Me</h3>
                <p>I’ve spent the past 8 years working in the animation industry where I learned a surprising breadth of skills.  I began as a Technical Director, leveraging my strong background in computer science to maintain a diverse set of departmental tools.  I worked closely with artists to create custom interfaces and scripts in a variety of software packages...  <a href="/#about" class="page-link" style="color: #addff5">Learn More</a></p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-12 text-left">
                <h3 class="subj-title">Resume</h3>
                <h3 class="subj-subtitle">The details </h3>
                <p>Where did I go to school?  Has anyone ever employed me?  <a href="/#resume"  class="page-link" class="page-link" style="color: #addff5">Find Out!</a></p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-12 text-right">
                <h3 class="subj-title">Portfolio</h3>
                <h3 class="subj-subtitle">Web work, Art work.</h3>
                <p>Let's see the goods. <a href="/#portfolio" class="page-link" style="color: #addff5">The goods!</a></p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-12 text-left">
                <h3 class="subj-title">Connect</h3>
                <h3 class="subj-subtitle">Email! Old-school Telephones! LinkedIn! Social Media!</h3>
                <p>Let's connect! <a href="/#contact" class="page-link" style="color: #addff5">Get in touch</a></p>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->