<!-- Empty space to clear the header -->
<br>
<br>
<br>
<br>

<!-- Main content here -->

<!-- Temporary text -->
<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2 class="subj-title">Resume</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-left">
                650-200-3805
            </div>
            <div class="col-md-6 text-right">
                <a href="mailto:jason.arold@gmail.com" class="page-link" style="color: #888">jason.arold@gmail.com</a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h2>Education</h2>
            </div>
        </div>

         <div class="row">
            <div class="col-lg-12">
                <p>Bachelor of Computer Science, May 2006
                    <br>
                Harvey Mudd College - Claremont, CA</p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-lg-12">
                <h2>Key Skills</h2>
            </div>
        </div>

         <div class="row">
            <div class="col-md-6">
                <ul>
                    <li>HTML, CSS, Javascript, AngularJS</li>
                    <li>Python, Java, C++/C#</li>
                    <li>Microsoft Office, Google Docs</li>
                </ul>
            </div>

            <div class="col-md-6">
                <ul>
                    <li>Linux and Windows environments</li>
                    <li>Project Management and Coordination</li>
                </ul>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-lg-12">
                <h2>Experience</h2>
            </div>
        </div>

         <div class="row">
            <div class="col-lg-12">
                <h3>Matte Painting Lead</h3>
                <i class="text-muted">PDI/DreamWorks Animation 2012-Present</i>
            </div>
        </div> 

        <div class="row">
            <div class="col-lg-12">
                <ul>
                    <li>Provided show-specific technical and artistic direction to the matte painting teams in several locations</li>
                    <li>Supervised department’s technical development and support of third-party applications</li>
                    <li>Collaborated with production management and department leads to schedule matte painting tasks</li>
                    <li>Worked with other matte painting leads to standardize and document global department workflow </li>
                    <li>Developed and taught multiple technical training courses for artists</li>

                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h3>Matte Painting Compositor</h3>
                <i class="text-muted">PDI/DreamWorks Animation 2010-2012</i>
            </div>
        </div> 

        <div class="row">
            <div class="col-lg-12">
                <ul>
                    <li>Designed and created 3D digital environments for feature productions using Maya, Vue, and proprietary software</li>
                    <li>Manipulated large, procedural environments in Maya using Python and MEL</li>
                    <li>Designed and facilitated department transition from in-house compositing software to Nuke</li>
                    <li>Assisted department head with production scheduling, staffing, and department reviews</li>
                    <li>Helped develop studio matte painting procedures for stereographic films</li>

                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h3>Technical Director</h3>
                <i class="text-muted">PDI/DreamWorks Animation - 2007 - 2010</i>
            </div>
        </div> 

        <div class="row">
            <div class="col-lg-12">
                <ul>
                    <li>Documented, developed, and improved  workflow tools in Python and Mel for Matte Painting department</li>
                    <li>Converted department’s existing toolset from Perl to  Python</li>
                    <li>Created 2D and 3D visual effects using proprietary and third party software</li>
                    <li>Supported daily review process across multiple locations</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h3>Software Engineer</h3>
                <i class="text-muted">Areva T&D - 2006 - 2007</i>
            </div>
        </div> 

        <div class="row">
            <div class="col-lg-12">
                <ul>
                    <li>Designed, implemented, and refined user interfaces for a multi-national power grid management software corporation using C# and WinFX</li>
                    <li>Adapted academic research on large data set visualization methods for commercial products</li>
                    <li>Documented technical specifications and edited user manual for initial release of large software package</li>
                </ul>
            </div>
        </div>  

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->