<!-- COPIED AND PASTED FOR TESTING PURPOSES!!! -->

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container header-container">

        <div class="navbar-header">
        	<img class="title-logo" src="images/logo.png" height="60px">
            <button type="button" id="myNavButton" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
            <a class="title-super" href="#/">Jason Arold</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/about" class="header-link">About Me</a>
                </li>
                <li><a href="#/resume" class="header-link">Resume</a>
                </li>
                <li><a href="#/portfolio" class="header-link">Portfolio</a>
                </li>
                <li><a href="#/contact" class="header-link">Connect</a>
                </li>
            </ul>
        </div> 
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
    <script>
    $(".header-link").on("click", function(){
        // See if the nav button is visible (mobile mode)
        // If it is- collapse it when clicked
        if ( $("#myNavButton").is(":visible")) {
            $(".collapse").collapse('toggle');
            }
        });
    </script>
</nav>
